/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.pad-text{
	font-family: monospace;
	font-size: 14px;
	color: blue;
}

.titleStyle
{
	text-align: center;
	font-size: 20px;
	font-family: fantasy;
	
}

.openStyle
{
		 margin: 0px auto 0px auto; text-align: center;
}
.centerPanel
{
	 margin-left: auto;
   margin-right: auto;
   text-align:center;
   
}

.centerImg
{
	display: block;
    margin-left: auto;
    margin-right: aut
}

.imgStyle
{
	width: 50px;
	height: 50px;
	margin-top: 10%;
	
}
.panelProg
{
	background-color: white;
}

.headerStyle
{  margin-top:1%;
	margin-left: 35%;
}
.authStyle
{
	margin-top: 10px;
	background-color: #F5F5F5;
	padding: 15px 25px 15px 25px;
	margin-left: 30%;
	
}


.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

.userEmail{
	font-weight: bold;
	color: black;
}











