/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.pad-text{
	color: #333333;
font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
	font-size: 14px;
	
}

.titleStyle
{
	font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
	text-align: center;
	font-size: 22px;
	
}

.openStyle
{
	 margin-left: auto;
   margin-right: auto;

}
#openbutton
{
	background: #0044CC;
	color:white;
	font-size: 14px;
	width: 200px;
	height: 40px;
	font-weight: bold;
	margin-bottom: 10px;
}
#openbutton:ACTIVE{
	 border: 1px inset #ccc;
}
#openbutton:HOVER{
	 border-color: #939393;
	 background-color: white;
	 color: #0044CC;
}
.centerPanel
{
	 margin-left: auto;
   margin-right: auto;
   
}
#txtCenter
{
	text-align: center;
}

.centerImg
{
	display: block;
    margin-left: auto;
    margin-right: aut
}

.imgStyle
{
	width: 50px;
	height: 50px;
	margin-top: 10%;
	
}
.panelProg
{
	background-color: white;
}

.headerStyle
{  margin-top:1%;
	margin-left: 35%;
}
.authStyle
{
	margin-top: 10px;
	background-color: #F5F5F5;
	padding: 15px 25px 15px 25px;
	margin-left: 26%;
	
}
.canvasPanel{
	margin-top: 50%;
	margin-top: 50%;
}


.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

.userEmail{
	font-weight: bold;
	color: black;
}

.msg1Style
	{
	   margin-top: 22px;
	   margin-right: 25px;
	   font-weight: bold;
	   
	}
.msg2Style
	{
	   margin-top: 22px;
	   margin-left: 25px;
	   font-weight: bold;
	   
	}
	
.clayoutStyle
{
	margin-left: auto;
	margin-right: auto;
	display:block;
	text-align: center;
}

.toolbarStyle
{
	color: #333333;
font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
	font-size: 12px;
}

#loginLabelstyle
{
	color: #333333;
font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
	font-size: 16px;
	margin-top: 5px;
}

.centerPanelStyle
{
	text-align: center;
}


.vpstyle
{
	text-align: center;
	font-size: 14px;
	margin-left: auto;
	margin-right: auto;
}

