<?xml version="1.0" encoding="UTF-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee                http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

 <!-- Objectify filter -->
<filter>
        <filter-name>ObjectifyFilter</filter-name>
        <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
</filter>
<filter-mapping>
        <filter-name>ObjectifyFilter</filter-name>
        <url-pattern>/*</url-pattern>
</filter-mapping>

  <!-- Servlets -->
 <servlet>
    <servlet-name>loginService</servlet-name>
    <servlet-class>com.igc.server.LoginServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>loginService</servlet-name>
    <url-pattern>/igc_gwt/login</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>getService</servlet-name>
    <servlet-class>com.igc.server.ChartServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>getService</servlet-name>
    <url-pattern>/igc_gwt/get</url-pattern>
  </servlet-mapping>
  
  <servlet> 
    <servlet-name>crudService</servlet-name>
    <servlet-class>com.igc.server.CrudServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>crudService</servlet-name>
    <url-pattern>/igc_gwt/crud</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>IGC_GWT.html</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>SystemServiceServlet</servlet-name>
    <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
    <init-param>
      <param-name>services</param-name>
      <param-value/>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>SystemServiceServlet</servlet-name>
    <url-pattern>/_ah/spi/*</url-pattern>
  </servlet-mapping>

</web-app>